body{
  margin: 20px; 
  background-color: #5f90c5;
  margin-top: 20px;
	margin-left: 180px;
	margin-right: 180px;
}
h1{
  font-size: 30px;
}
h2{
  font-size: 24px;
}
h3{
  font-size: 20px;
}
h4{
  font-size: 16px;
}
p{
  font-size: 14px;
}
